In [9]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

# importing scripts
import sys
sys.path.append('..')
%reload_ext autoreload
%autoreload 2
from scripts import preprocessing_yellow

In [12]:
df = preprocessing_yellow.clean_yellow_taxi_df('../data', 2023, 1)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,trip_time_min,PU_Borough,DO_Borough
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,0.5,0.00,0.0,1.0,14.30,2.5,0.0,8.433333,Manhattan,Manhattan
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,0.5,4.00,0.0,1.0,16.90,2.5,0.0,6.316667,Manhattan,Manhattan
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,...,0.5,15.00,0.0,1.0,34.90,2.5,0.0,12.750000,Manhattan,Manhattan
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,...,0.5,3.28,0.0,1.0,19.68,2.5,0.0,10.833333,Manhattan,Manhattan
5,2,2023-01-01 00:50:34,2023-01-01 01:02:52,1.0,1.84,1.0,N,161,137,1,...,0.5,10.00,0.0,1.0,27.80,2.5,0.0,12.300000,Manhattan,Manhattan

In [13]:
df['PU_Borough']

0          Manhattan
1          Manhattan
2          Manhattan
4          Manhattan
5          Manhattan
             ...
2995016       Queens
2995019    Manhattan
2995020    Manhattan
2995021    Manhattan
2995022    Manhattan
Name: PU_Borough, Length: 2834578, dtype: object

In [4]:
(
    df
    .groupby([
        # pd.Grouper(key='tpep_pickup_datetime', axis=0, freq='D'), 
        pd.Grouper(key='tpep_pickup_datetime', axis=0, freq='H'), 
        'PU_Borough',
    ]) 
    .size().reset_index().rename(columns={0: 'num_of_trips'})
    .assign(
        hour=lambda x: x['tpep_pickup_datetime']
    )
)

     tpep_pickup_datetime     PU_Borough  num_of_trips                hour
0     2023-01-01 00:00:00          Bronx             3 2023-01-01 00:00:00
1     2023-01-01 00:00:00       Brooklyn            37 2023-01-01 00:00:00
2     2023-01-01 00:00:00            EWR             0 2023-01-01 00:00:00
3     2023-01-01 00:00:00      Manhattan          4444 2023-01-01 00:00:00
4     2023-01-01 00:00:00         Queens           262 2023-01-01 00:00:00
...                   ...            ...           ...                 ...
4459  2023-01-31 23:00:00       Brooklyn            12 2023-01-31 23:00:00
4460  2023-01-31 23:00:00            EWR             0 2023-01-31 23:00:00
4461  2023-01-31 23:00:00      Manhattan          2084 2023-01-31 23:00:00
4462  2023-01-31 23:00:00         Queens           260 2023-01-31 23:00:00
4463  2023-01-31 23:00:00  Staten Island             0 2023-01-31 23:00:00

[4464 rows x 4 columns]